<div class="wrapper">
  <div class="calendar">
    <h1 class="animate-title">My Calendar</h1>
    <button type="button" class="btn float index-btn" data-toggle="modal" data-target="#exampleModal">
      予定を記入
    </button>
    <%= month_calendar events: events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>