<div class="wrapper">
  <div class="about">

    <div>
      <%= video_tag("work.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div>
    <div class="about-text">
      <p>仕事を変えて世界を変える。</p>
      <p>新たな世界へ踏み出す勇気を。</p>
    </div>

    <div class="qa-list">
      <h3>当サイトについて</h3>
      <dl class="qa">
        <dt>レビューはどこから見れますか？</dt>
        <dd>
          <p>各企業の「詳しく見る」ボタンから見ることできます。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>企業情報はどれくらいの頻度で更新していますか。</dt>
        <dd>
          <p>1ヶ月に一度のペースで更新しております。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>掲載企業はどのような経由で紹介されていますか。</dt>
        <dd>
          <p>直接ご依頼いただいた会社を紹介しております。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>会社を掲載して欲しい場合はどうしたら良いですか。</dt>
        <dd>
          <p>サイト上部にあります、Contactボタンからご応募いただけます。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>口コミは誰でも出来ますか。</dt>
        <dd>
          <p>ログインしていただければ全員可能です。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>