<div class="wrapper">
  <div class="about">

    <div>
      <%= video_tag("work.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div>
    <div class="about-text">
      仕事を変えて世界を変えよう。
    </div>
  </div>
</div>