<div class="wrapper">
  <div class="admin-top">
    <div class="items">
      <div class="items__inner">
        <%= link_to  admins_contacts_path do %>
        <div class="item">
          <p>Mail</p>
          <p>メールの確認・返信</p>
        </div>
        <% end %>
      </div>
      <div class="items__inner">
        <%= link_to admins_post_comments_path do %>
        <div class="item">
          <p>Reviews</p>
          <p>Reviewの確認・削除</p>
        </div>
        <% end %>
      </div>
      <div class="items__inner">
        <%= link_to admins_prefectures_path do %>
        <div class="item">
          <p>Company</p>
          <p>掲載企業の追加・変更</p>
        </div>
        <% end %>
      </div>
      <div class="items__inner">
        <%= link_to admins_language_tags_path do %>
        <div class="item">
          <p>Language</p>
          <p>プログラミング言語の追加・削除</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>