.flex{
  flex-direction: row;
  flex-wrap: wrap;
}

.about{

  &__inner{
    padding: 50px;
  }
  &__img,
  &__texts{
    flex-basis: 47%;
  }
  &__texts{
    display: flex;
    align-items: center;
  }
}

.company{
  &__item{
    margin-bottom: 40px !important;
    flex-basis: 47%;
    &:nth-child(odd){
      margin-right: 6%;
    }
    & > p{
      font-size: 25px;
    }
  }
}
