.font-sm{
  font-size: 16px;
}
.font-md{
  font-size: 19px;
}
.font-lg{
  font-size: 36px;
}

.mb-lg{
  margin-bottom: 150px !important;
}
.pb-lg{
  padding-bottom: 150px !important;
}

.header{
  &__nav{
    display: block ;
  }
  & .mobile-menu__btn{
    display: none;
  }
}

.about{

  &__inner{
    padding: 50px 150px;
  }
  &__img{
    height: 400px;
}
}
