<div class="wrapper">
  <div class="about">

    <div>
      <%= video_tag("work.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div>
    <div class="about-text">
      <p>仕事を変えて世界を変える。</p>
      <p>新たな世界へ踏み出す勇気を。</p>
    </div>

    <div class="qa-list">
      <h3>当サイトについて</h3>
      <dl class="qa">
        <dt>タスク管理ツールはどこにありますか？</dt>
        <dd>
          <p>トップページの最下部にリンクがございます。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>レビューはどこから見れますか？</dt>
        <dd>
          <p>各企業の「詳しく見る」ボタンから見ることできます。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>タスク管理ツールは他の人に見られませんか？</dt>
        <dd>
          <p>自分のデータのみ閲覧可能となっております。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>レビューは管理者側で削除することがありますか？</dt>
        <dd>
          <p>はい。不適切なコメントの場合は削除させて頂きます。</p>
        </dd>
      </dl>
      <dl class="qa">
        <dt>口コミは誰でも出来ますか。</dt>
        <dd>
          <p>ログインしていただければ、どなたでも可能です。</p>
        </dd>
      </dl>
    </div>
  </div>
</div>