<div class="wrapper">
  <div id="app" class="task-container">
    <navbar></navbar>
    <div class="container">
      <router-view></router-view>
    </div>
    <contents></contents>
  </div>
  <%= javascript_pack_tag 'todo' %>
</div>