<div class="chat-messages">
  <% if chat_message.user_id == current_user.id %>
  <div class="chat-messages__current-user">
    <div class="chat-messages__content right-side main-color">
      <%= chat_message.content %>
    </div>
  </div>
  <% else %>
  <div class="chat-messages__talk-user ">
    <% if chat_message.user.profile_image? %>
    <%= image_tag chat_message.user.profile_image.url,class: 'talk-user-img' %>
    <% else %>
    <div class="user-default-img"></div>
    <% end %>
    <div class="chat-messages__content left-side">
      <%= chat_message.content %>
    </div>
  </div>
  <% end %>
</div>