<div class="wrapper">
  <div class="prefectures">
    <div class="prefectures__title">
      都道府県から探す
    </div>
    <div class="prefectures__inner">
      <div class="prefectures__list">
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li> <%= link_to "北海道", prefecture_path(1) %></li>
            <li>青森県</li>
            <li>秋田県</li>
            <li>岩手県</li>
            <li>宮城県</li>
            <li>山形県</li>
            <li>福島県</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>関東地方</span>
          </div>
          <ul class="prefectures__ul">
            <li>東京都</li>
            <li>神奈川県</li>
            <li>千葉県</li>
            <li>埼玉県</li>
            <li>茨城県</li>
            <li>栃木県</li>
            <li>群馬県</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>