 <div class="wrapper">
   <div class="wrapper__inner">
     <div id="messages">
       <input type="text" id="chat-input">
       <button id="button">送信</button>
       <%= render @messages %>
     </div>
   </div>
 </div>