body{
font-family: 'Lora','Noto Serif JP', serif;
}
.font-sm{
  font-size: 14px;
}
.font-md{
  font-size: 17px;
}
.font-lg{
  font-size: 25px;
}

.mb-sm{
  margin-bottom: 16px !important;
}
.mb-lg{
  margin-bottom: 80px !important;
}

.pb-sm{
  padding-bottom: 16px !important;
}
.pb-lg{
  padding-bottom: 80px !important;
}

.content-width{
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex{
  display: flex;
  flex-direction: column;
}

.main-title{
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title{
  @extend .font-sm;
  color: #535353;
  opacity: 0.8;
}

// button{
//   flex-basis: 100%;
// }

.logo{
  font-size: 33px;
  display: flex;
  & > img{
    width: 0.7em;
  }
}

#container{
  height: 100vh;
  position: relative;
  transition: transform 0.5s;
  z-index: 10;
}

.header{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: transparent;
  align-items: center;
  z-index: 100;

  &__inner{
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav{
    display: none;
  }
  &__ul{
    display: flex;
    align-items: center;
    margin: 0;
  }
  &__li{
    list-style: none;
    padding-left:15px ;
  }
}

.footer{
  @extend .content-width;
  padding: 60px 0;

  & .logo{
    font-size: 33px;
    justify-content: center;
  }
  &__nav{
    @extend .flex;
    align-items: center;
    justify-content: space-between;
  }
  &__ul{
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__li{
    margin: 10px;
    padding: 0;
  }
  &__copyright{
    margin-top: 10px;
    color: #535353;
    opacity: 0.8;
  }
}
