.contact{
  @extend .content-width;

  &__title{
    margin: 30px 0;
  }
  & table{
    font-size: 5px;

    & p{
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 50px;
    }
  }
  & .pagination{
    margin-top: 10px;
  }
}

.video-content{
  max-width: 100%;
  position: relative;
}
.about-text{
  position: absolute;
  top: 27%;
  left: 10%;
  color: white;
}

.admin-top{
  @extend .content-width;
  margin-top: 50px;

  & .items{
    display: flex;
    flex-wrap:wrap;
    font-size:20px;
    justify-content: space-between;
    justify-content: center;

    &__inner{
      border-radius: 50%;
      box-shadow: 0px 6px #444444;
      text-align: center;
      position: relative;
      flex-basis: 42%;
      margin: 10px;


      &:nth-child(1){
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
      }
      &:nth-child(2){
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
      }
      &:nth-child(3){
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      }
      &:nth-child(4){
        background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
      }
      &:active {
        box-shadow:none;
        position:relative;
        top:6px;
      }
      & p{
        &:first-child{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: black;
        }
        &:nth-child(2){
          position: absolute;
          top: 60%;
          left: 60%;
          transform: translate(-60%, -60%);
          font-size: 10px;
          color: #676060;
          display: none;
        }
      }

      & .item{
        width: 100px;
        height: 100px;
      }
    }
  }
}
