// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar{
  @extend .content-width;
  position: relative;

  & .calendar-heading{
    @extend .mb-sm;
    position: absolute;
    top: 15%;
    right: 0;

    & > .calendar-title{
      margin: 0 2px;
    }
  }

  & .index-btn{
    padding: 8px 14px;
    margin-bottom: 0;
  }

  & textarea{
    margin-top: 10px;
    width: 100%;
    height: 100px;
  }
  &__title{
    margin-bottom: 10px;
    width: 50%;
  }

  & .table-striped{
    margin-top: 10px;
  }

  & .modal-footer{
    & .btn{
      margin-bottom: 0;
      &:nth-child(2){
        padding: 10px 60px;
      }
    }
  }

}