.prefectures{
  @extend .content-width;
  padding: 40px 0;
  display: flex;

  &__inner{
    background-color: #fffdf8;
    padding: 10px;
    @extend .mb-lg;
    border: .2rem solid #eaeaea;
  }

  &__title{
    @extend .mb-sm;
  }

  &__group{
    margin-bottom: 20px;
  }

  &__group-title{
    background-color: oldlace;
    font-size: 1.2em;
  }
  &__ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

     & > li{
    font-size: 18px;
    padding-right: 8px;
     }
  }

  &__company{
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f8f6f1;
    @extend .flex;
    justify-content: space-between;
    padding: 30px 15px;
  }

  &__img{

    & > img{
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: contain;
      @extend .mb-sm;
    }
  }

  &__texts-inner{
    & > div{
      margin-bottom: 15px;
    }
    & > div:not(:first-child){
      font-size: 20px;
    }
  }

  .link-item{
      font-size: 0.7em;
  }

  & .btn{
    @extend .mb-sm;
    & > a{
      color:black;
      text-decoration: none;
    }
  }
}
.prefectures-show{
  margin: 0;
  width: 100%;
}

.description-area{
  width: 100%;
  height: 500px;
}

.edit{
  margin-left:30px ;
}

.language:not(:last-child){
  &::after{
    content:"/";
  }
}
.search-box{
  display: none;
  padding-top: 58px;
  position: relative;

  &__inner{
    position: absolute;
    right: 0;
  }

  & input[type="submit"]{
    cursor: pointer;
    border: none;
    background: #FFCC66;
    outline : none;
    height: 2.2em;
    margin-bottom: 20px;
  }

  & input[type="text"], select {
      border: 2px solid;
      height: 2.0em;
      width: 150px;
      margin-bottom: 5px;
  }
}