.user-show-page {
  max-width: 414px;
  margin: 0 auto;
  .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &__default-img {
      margin-top: 10px;
      height: 128px;
      width: 128px;
      object-fit: cover;
      border-radius: 50%;
      background-image: image-url("profile_default_img.png");
      background-size: contain;
    }
    &__img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      object-fit: cover;
    }
    &__name {
      font-size: 24px;
    }
    &__text {
      padding: 16px 24px 16px;
      word-break: break-all;
    }
    &__chat{
      & .btn{
        background-color: darkblue !important;
        &:hover{
          color: black !important;
          background-color: white !important;
        }
      }
    }
  }
}

.user-action {
  display: flex;
  justify-content: space-between;
  color:#c3c7d0;
  margin: 48px;
  &-common {
    color: #5c5c5c;
    & > a {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      margin-bottom: 8px;
      color: #5c5c5c;
      box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
      transition: color .5s;
    }
  }
}

@media (min-width: 414px) {
  .user-show-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}

.profile-edit{
  @extend .content-width;
  display: flex;
  font-size: 16px;
  &__inner{
    margin: 0 auto;
  }

 & .profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 24px 0 12px;

    &__default-img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      background-image: image-url("profile_default_img.png");
      background-size: contain;
      margin-bottom: 10px;
      &>input {
        display: none;
      }
    }
    &__img{
      height: 128px;
      width: 128px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: 10px;
    }
    &__img-upload {
      margin-top: 12px;
      padding: 8px 12px;
      font-size: 14px;
      color: #fff;
      background-color: darkblue;
      border-radius: 8px;
      cursor: pointer;
      &>input {
        display: none;
      }
    }
  }

  & .form-control{
    width: 300px;
    font-size: 16px;
  }
  & .user-edit__submit-btn {
    height: 38px;
    margin-bottom: 24px;
  }
  & textarea{
    height: 100px;
  }
}

#profile-img-prev {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  object-fit: cover;
}